/*Element styles*/
body .nav-wrapper a {
  color: #333;
}

i.material-icons {
  vertical-align: bottom !important;
}
i.material-icons.large {
  vertical-align: middle !important;
}
i.material-icons.tiny {
  vertical-align: middle !important;
}

/*Class styles*/
.cursor-pointer {
  cursor: pointer;
}

.page-background-snowtrees{
  background-image: url("/img/msc1.jpg");
}

.page-background-snowdepth{
  background-image: url("/img/msc2.jpg");
}
.page-background-lodgedeck{
  background-image: url("/img/msc3.jpg");
}
.page-background-chalkboard{
  background-image: url("/img/msc4.jpg");
}

.page-background{

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.nowrap {
  /* keeps icons next to values in membership list */
  white-space: nowrap;
}

/* for toggling facets in the member reports area */
a.status-param.disabled {
  pointer-events: none;
  opacity: .25
}
.status-param.chip {
  background-color: #e3f2fd;
}
.status-param.chip:focus {
  background-color: white
}
/* formats the container for emails and report previews */
div.preview-container {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
