/*Element styles*/
body .nav-wrapper a {
  color: #333;
}

/* body .navbar-fixed nav {}

body {}

body .container {} */

i.material-icons {
  vertical-align: middle !important;
}

/*Class styles*/
.cursor-pointer {
  cursor: pointer;
}

.background-image-1{
    /* The image used */
    background-image: url("/img/msc1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

/*
.tabs .router-link-exact-active {
  background-color: #ffebee
}
*/
.facets {
  text-transform: capitalize
}
.nowrap {
  white-space: nowrap;
}