<!DOCTYPE html>
<html>
  <head>
    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <script src="/js/vue-router.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <style type="text/css">
    </style>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="container">
      <div id="app">
        <p>
          <router-link to="/">home</router-link>
          <router-link to="/list">List</router-link>
          <router-link to="/list/123">Household 123</router-link>
        </p>
        <router-view></router-view>
      </div>
    </div>

    <!-- 
      BEGIN TEMPLATES
    -->

    <script type="text/x-template" id="list">
      <div>
        <div style="color: red" v-if="loading">
          Loading...
        </div>
        <div v-if="!loading">
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input v-model="searchStr" @keyup="search()" placeholder="Search by name..." />
            <a href="/getPeopleForCSV">Download the list</a>
          </div>

<div style="position: relative">

  <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; display: inline-block; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating green"><i class="material-icons">email</i></a></li>
      <li><a href="/getPeopleForCSV" class="btn-floating green"><i class="material-icons">file_download</i></a></li>
    </ul>
  </div>
</div>
  

          <ul>
            <li v-bind:id="item._id" v-for="item in items" v-if="!item.hide">
              <div class="row">
                <div class="col m3">
                  <b>{{ item.name }}</b> <router-link :to="{ path: /list/ + item._id }">edit</router-link>
                  <household v-bind:item="item"></household>
                </div>
                <div class="col m9">
                  <ul>
                    <person 
                      v-for="person in item.people" 
                      v-bind:key="person._id" 
                      v-bind:item="person">
                    </person>
                  </ul>
                </div>
              </div><!--row-->
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="edit-household">
      <div>
        <div class="row">
          <div class="col m6 s12"><!-- household -->
            <h5>Mailing info</h5>
            <div class="row">
              <div class="input-field col m4 s12">
                <input type="text" id="household_name" v-model="item.name"  />
                <label for="household_name" class="active">Household name</label>
              </div>
              <div class="input-field col m8 s12">
                <input type="text" id="household_label_name" v-model="item.label_name"  />
                <label for="household_label_name" class="active">Mailing label name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m8 s12">
                <input type="text" id="household_street1" v-model="item.street1"  />
                <label for="household_street1" class="active">Street 1</label>
              </div>
              <div class="input-field col m4 s12">
                <input type="text" id="household_street2" v-model="item.street2"  />
                <label for="household_street2" class="active">Street 2</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input type="text" id="household_city" v-model="item.city"  />
                <label for="household_city" class="active">City</label>
              </div>
              <div class="input-field col m2 s12">
                <input type="text" id="household_state" v-model="item.state"  />
                <label for="household_state" class="active">State</label>
              </div>
              <div class="input-field col m4 s12">
                <input type="text" id="household_zip" v-model="item.zip"  />
                <label for="household_zip" class="active">ZIP</label>
              </div>
            </div>
            <div class="input-field">              
              <input type="text" id="household_phone" v-model="item.phone"  />
              <label for="household_phone" class="active">Household Phone</label>
            </div>

            <div>
              <h5>
                Harcopies
              </h5>
            </div>
            <div class="row">              
              <div class="col m6 switch">
                Mail a hardcopy of the newsletter?<br />
                <label>
                  No
                  <input type="checkbox" id="mail_news" v-model="item.mail_news">
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
              <div class="col m6 switch">
                Mail a hardcopy of the membership list?<br />
                <label>
                  No
                  <input type="checkbox" id="mail_list" v-model="item.mail_list">
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
            </div>
          </div><!-- end household -->

          <div class="col m6 s12"><!-- people -->
            <h5>Members
              <a v-on:click="addPerson()" class="btn-floating btn waves-effect waves-light green right">
                <i class="material-icons">person_add</i>
              </a>  
            </h5>
            <ul class="collapsible" data-collapsible="accordion">
              <li v-for="(person, index) in item.people">
                <div class="collapsible-header"><i class="material-icons green-text left">edit</i>
                  {{ person.first }} {{ person.last }}
                </div>
                <div class="collapsible-body blue lighten-5">
                  <div class="row">
                    <div class="input-field col m6 s12">              
                      <input type="text" id="person_first" v-model="person.first"  />
                      <label for="person_first" class="active">First name</label>
                    </div>
                    <div class="input-field col m6 s12">              
                      <input type="text" id="person_last" v-model="person.last"  />
                      <label for="person_last" class="active">Last name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col m12 s12">              
                      <label>Membership status</label>
                      <p v-for="(value, index) in statuses">
                        <input 
                          type="radio" 
                          :name="person._id + '-' + index" 
                          :id="person._id + '-' + index" 
                          :value="value" 
                          v-model="person.status" />
                        <label v-bind:for="person._id + '-' + index">{{ value }}</label>
                      </p>                
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col m12 s12">              
                      <input type="text" id="person_email" v-model="person.email"  />
                      <label for="person_email" class="active">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">              
                      <input type="text" id="person_phone" v-model="person.phone"  />
                      <label for="person_phone" class="active">Phone</label>
                    </div>
                    <div class="input-field col s6">              
                      <input type="text" id="person_work_phone" v-model="person.work_phone"  />
                      <label for="person_work_phone" class="active">Work phone</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">              
                      <input type="text" id="person_dob" v-model="person.dob"  />
                      <label for="person_dob" class="active">Date of birth</label>
                    </div>
                    <div class="col s6">              
                      <label>Gender</label>
                      <p v-for="(value, index) in genders">
                        <input type="radio" 
                          :name="person._id + '-gender-' + index" 
                          :id="person._id + '-gender-' + index" 
                          :value="value" 
                          v-model="person.gender" />
                        <label :for="person._id + '-gender-' + index">{{ value }}</label>
                      </p>                


                    </div>
                  </div>
                  <div>
                    <p>
                      <input type="checkbox" v-bind:id="person._id" v-model="person._deleted" v-on:click="removePerson(index)" />
                      <label v-bind:for="person._id" class="red-text text-darken-2">Remove this person</label>
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <div class="actions">
              <a v-on:click="saveMe()" id="save" class="waves-effect waves-light btn">Save</a>
              <a  href="#/" class="waves-effect waves-light btn-flat">Cancel</a>
            </div>

          </div><!-- people -->
        </div><!-- row -->

        <pre style="clear: left">
          {{ item | json }}
        </pre>

      </div>
    </script>

    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>

    <script type="text/javascript" src="/js/factories.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
        


